<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Panel
							</span>
                    <span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
                    </span>
                    </span>
                    </span>
                </a>
            </li>

            <!-- Sipariş Modul Menüsü (start) -->
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    MÜŞTERİ MODULÜ
                </h4>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/customer/create" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-plus"></i>
                    <span class="m-menu__link-text">
                                Müşteri Oluştur
                            </span>
                </a>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/customer/group/create" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-plus"></i>
                    <span class="m-menu__link-text">
                                Müşteri Grubu Oluştur
                            </span>
                </a>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/customer/list" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-text">
                            Müşteri Listesi
                        </span>
                </a>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/customer/group/list" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-text">
                            Müşteri Grubu Listesi
                        </span>
                </a>
            </li>

            <!-- Sipariş Modul Menüsü (start) -->
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    SİPARİŞ MODULÜ
                </h4>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/order/create" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-plus"></i>
                    <span class="m-menu__link-text">
                                Sipariş Oluştur
                            </span>
                </a>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/order/detail" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-information"></i>
                    <span class="m-menu__link-text">
                                        Sipariş Detayı
                                    </span>
                </a>
            </li>

            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/order/list" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-text">
                                        Sipariş Listesi
                                    </span>
                </a>
            </li>


        </ul>
    </div>
</div>
<!-- END: Aside Menu -->

<!-- END: Left Aside -->